@import "bootstrap";
@import "AdminLTE";
@import "skin";

.login-page, .register-page {
  background: #000 url(images/bgnoise.png);
}

#loading.row {
  padding-top: 2em;
}

.dashboard-index .environments .label {
  margin-right: 0.5em;
}

.content-header i.fa {
  color: #aaa;
  margin: 0 0.5em;
}

td i.fa {
  margin-right: 0.5em;
}

.users-list-type {
  color: #999;
  font-size: 12px;
}

