@import "bootstrap";
@import "AdminLTE";
@import "skin";
@import "sidebar";
@import "headers";
@import "forms";
@import "tables";

.login-page, .register-page {
  background: #000 url(images/bgnoise.png);
}

#loading.row {
  padding-top: 2em;
}

#error {
  .suggestion {
    margin: 1em;
    color: #ccc;

    a {
      color: #999;
    }
  }
}

#tokenModal {
  input {
    color: black;
  }
}

.users-list-type {
  color: #999;
  font-size: 12px;
}

.fa-lock {
  color: $red;
}

.fa-unlock {
  color: $green;
}

.fa-trash {
  color: $red;
}
